body {
  margin: 0;
}

#cesiumContainer {
  background: gray;
  height: 100vh;
  width: 100%;
}

#toolbar {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  padding: 5px;
  background: rgba(42, 42, 42, 0.8);
  border-radius: 5px;
}

#toolbar button {
  margin: 5px;
  padding: 8px 12px;
  font-size: 14px;
  color: white;
  background-color: #4a4a4a;
  border: 1px solid #6d6d6d;
  border-radius: 4px;
  cursor: pointer;
}

#toolbar button:hover {
  background-color: #6d6d6d;
}